{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="mt-4">Liste des Médicaments</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Date d'Expiration</th>
            </tr>
        </thead>
        <tbody>
            {% for medicament in medicaments %}
            <tr>
                <td>{{ medicament.nom }}</td>
                <td>{{ medicament.quantite }}</td>
                <td>{{ medicament.date_expiration }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
